
rpa-saas-service/ERPAFileSystem/uploadtmp
rpa-saas-service/ERPAFileSystem/downtmp
rpa-saas-service/ERPAFileSystem/robotlogs
rpa-saas-service/ERPAFileSystem/uploadpath/license/*
rpa-saas-service/ERPAFileSystem/uploadpath/robots/*
rpa-saas-service/ERPAFileSystem/uploadpath/robotPoint/*
ERPAFileSystemBack
*t*e*s*t*.lock
rpa-saas-service/ERPAFileSystem/imagezip/
rpa-saas-service/ERPAFileSystem/uploadpath/userImage/*
rpa-saas-service/ERPAFileSystem/uploadpath/robotImage/20*
rpa-saas-service/ERPAFileSystem/uploadpath/client/
rpa-saas-service/ERPAFileSystem/uploadpath/update/
rpa-saas-service/ERPAFileSystem/uploadpath/robotlog/
rpa-saas-service/ERPAFileSystem/uploadpath/mobileLog/
rpa-saas-service/ERPAFileSystem/datasource/
rpa-saas-service/src/main/resources/datasource/db.setting
src/main/resources/datasource/init/version.sql
*.bak
hs_err_pid21376.log
hs_err_pid24888.log
.DS_Store

target/
logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/